/*
 * (C) Copyright 2014 Kurento (http://kurento.org/)
 *
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the GNU Lesser General Public License
 * (LGPL) version 2.1 which accompanies this distribution, and is available at
 * http://www.gnu.org/licenses/lgpl-2.1.html
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 */
@CHARSET "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 40px;
	body
}

video,#console {
	display: block;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#console {
	overflow-y: auto;
	width: 100%;
	height: 175px;
}

#videoContainer {
	position: absolute;
	float: left;
}

#videoBig {
	width: 640px;
	height: 480px;
	top: 0;
	left: 0;
	z-index: 1;
}

div#videoSmall {
	width: 240px;
	height: 180px;
	padding: 0px;
	position: absolute;
	top: 15px;
	left: 400px;
	cursor: pointer;
	z-index: 10;
	padding: 0px;
}

div.dragged {
	cursor: all-scroll !important;
	border-color: blue !important;
	z-index: 10 !important;
}
